/** VARIABLES  **/
/** FONTS **/
@font-face {
  font-family: fraunces;
  src: url("fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf") format("truetype-variations");
}
@font-face {
  font-family: manrope;
  src: url("fonts/manrope/Manrope-VariableFont_wght.ttf") format("truetype-variations");
}
/** GENERAL **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
@media (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}

body {
  font-size: 1rem;
  line-height: 1.75em;
  font-family: manrope, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

img {
  display: block;
  margin: 0 auto;
}

svg path {
  transition: fill 0.5s ease;
}
svg path:hover {
  fill: hsl(273, 85%, 13%);
}

.heading-l,
.heading-m,
.heading-s {
  font-family: fraunces, serif;
  font-weight: 600;
  letter-spacing: -2px;
}

.heading-l {
  font-size: 3.125rem;
  line-height: 1em;
}
@media screen and (min-width: 768px) {
  .heading-l {
    font-size: 3.75rem;
  }
}

.heading-m {
  font-size: 3.11rem;
  line-height: 1.14em;
}

.heading-s {
  font-size: 1.75rem;
  line-height: 1.25em;
}

.hidden-text {
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.underline {
  position: relative;
}
.underline::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -6px;
  left: -50%;
  transform: translateX(50%);
  height: 3px;
  width: 100%;
  background-color: hsl(150, 100%, 63%);
}

.btn {
  color: hsl(273, 85%, 13%);
  background-color: hsl(150, 100%, 63%);
  font-weight: 700;
  text-align: center;
  display: block;
  padding: 0.75rem 1.5rem;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid hsl(150, 100%, 63%);
  transition: color 0.5s ease, background-color 0.5s ease;
}
.btn:hover {
  background-color: hsl(273, 85%, 13%);
  color: hsl(150, 100%, 63%);
}

.curve {
  position: relative;
}
.curve::after {
  content: "";
  position: absolute;
  background-color: hsl(273, 85%, 13%);
  width: 100%;
  height: 6rem;
  bottom: -2.5rem;
  left: -50%;
  transform: translateX(50%);
  -webkit-clip-path: ellipse(55% 22% at 50% 50%);
          clip-path: ellipse(55% 22% at 50% 50%);
  z-index: 1;
}

/** HEADER **/
header {
  background-color: hsl(273, 85%, 13%);
  padding: 2rem 1rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  header {
    padding: 2.25rem 2.25rem 3.65rem;
  }
}
header a {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  transition: color 0.5s ease;
}
header a:hover {
  color: hsl(150, 100%, 63%);
}

/** HERO **/
.hero {
  background-color: hsl(273, 85%, 13%);
  color: hsl(0, 0%, 100%);
  text-align: center;
  max-height: 335px;
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url(./images/bg-pattern-1.svg), url(./images/bg-pattern-2.svg);
    background-position: -14.34rem -2.53rem, calc(100% + 6.75rem) 7.88rem;
    background-repeat: no-repeat, no-repeat;
    max-height: 385px;
  }
}
.hero .heading-l {
  margin: 0 auto 2.5rem;
  max-inline-size: 12ch;
  text-wrap: balance;
}
@media screen and (min-width: 768px) {
  .hero .heading-l {
    margin: 0 auto 2.25rem;
  }
}
.hero .underline::after {
  bottom: 4px;
}
@media screen and (min-width: 768px) {
  .hero .underline::after {
    bottom: 8px;
  }
}
.hero img {
  position: relative;
  z-index: 2;
  aspect-ratio: 43/23;
  -o-object-fit: contain;
     object-fit: contain;
  transform: translateY(33%);
}
@media screen and (min-width: 768px) {
  .hero img {
    width: 514px;
    height: auto;
    transform: translateY(20%);
  }
}

/** INFO **/
.info {
  padding: 10.75rem 1rem 1rem;
  background-color: hsl(276, 100%, 99%);
  color: hsl(273, 85%, 13%);
}
@media screen and (min-width: 768px) {
  .info {
    padding: 12.94rem 1.125rem 5.5rem;
  }
}
.info .card-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
@media screen and (min-width: 768px) {
  .info .card-container {
    align-items: center;
    gap: 3rem;
  }
}
.info .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .info .card {
    flex-direction: row;
    text-align: left;
    max-width: 560px;
    gap: 2rem;
  }
}
.info .number {
  border-radius: 50%;
  border: 1px solid hsl(273, 85%, 13%);
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.25rem;
  font-weight: 600;
  font-family: fraunces, serif;
  padding: 0.5rem 1.15rem;
  text-align: center;
}
.info .heading-s {
  margin-bottom: 1rem;
}
.info::after {
  background-color: hsl(276, 100%, 99%);
}
.info p {
  color: hsl(271, 12%, 34%);
}

/** APPLY **/
.apply {
  padding: 6.25rem 1rem 1rem;
}
.apply .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.apply .col-2 {
  background-color: hsl(273, 85%, 13%);
  color: hsl(0, 0%, 100%);
  text-align: center;
  margin-top: -3rem;
  padding: 1.85rem;
}
.apply .heading-m {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.apply p {
  margin-bottom: 1.5rem;
}

/** FOOTER **/
footer {
  padding: 3.625rem 1rem 4rem;
}
footer img {
  margin-bottom: 3.625rem;
}
footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.75rem;
  list-style-type: none;
}/*# sourceMappingURL=style.css.map */