  /** VARIABLES  **/
  $purple: hsl(273, 85, 13);
  $green: hsl(150, 100, 63);
  $gray: hsl(271, 12, 34);
  $off-white: hsl(276, 100, 99);
  $white: hsl(0, 0, 100);

/** FONTS **/

@font-face {
    font-family: fraunces;
    src: url('fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf') format("truetype-variations");
  }

@font-face {
    font-family: manrope;
    src: url('fonts/manrope/Manrope-VariableFont_wght.ttf') format("truetype-variations");
  }

/** GENERAL **/

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 16px;

    @media (min-width: 768px) {
        font-size: 18px;
    }

  }

  body {
    font-size: 1rem;
    line-height: 1.75em;
    font-family: manrope, sans-serif;
    font-weight: 400;
  }

  a {
    text-decoration: none;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  .heading-l,
  .heading-m,
  .heading-s {
    font-family: fraunces, serif;
    font-weight: 600;
    letter-spacing: -2px;
  }

  .heading-l {
    font-size: 3.125rem;
    line-height: 1em;

    @media screen and (min-width: 376px) {
      font-size: 4.44rem;
    }
  }

  .heading-m {
    font-size: 3.11rem;
    line-height: 1.14em;
  }

  .heading-s {
    font-size: 1.75rem;
    line-height: 1.25em;
  }

  .hidden-text {
    clip: rect(1px 1px 1px 1px); /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .underline {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        display: block;
        bottom: -6px;
        left: -50%;
        transform: translateX(50%);
        height: 3px;
        width: 100%;
        background-color: $green;
    } 
  }

  .btn {
    color: $purple;
    background-color: $green;
    font-weight: 700;
    text-align: center;
    display: block;
    padding: .75rem 1.5rem;
    margin: 0 auto;
    width: fit-content;
    border: 1px solid $green;
    transition: color .5s ease, background-color .5s ease;

    &:hover {
      background-color: $purple;
      color: $green;
    }
  }

  .curve {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-color: $purple;
      width: 100%;
      height: 6rem;
      bottom: -2.5rem;   
      left: -50%;
      transform: translateX(50%);
      clip-path: ellipse(55% 22% at 50% 50%);
      z-index: 1;
    }
  }

/** HEADER **/

header {
    background-color: $purple;
    padding: 2rem 1rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: $white;
        font-weight: 700;
        transition: color .5s ease;

        &:hover {
          color: $green;
        }
    }
}

/** HERO **/

.hero {
  background-color: $purple;
  color: $white;
  text-align: center;
  max-height: 335px;

  .heading-l {
    margin: 0 auto 2.5rem;
    max-inline-size: 12ch;
    text-wrap: balance;
  }

  .underline {
    &::after {
      bottom: 4px;
    }
  }

  img {
    position: relative;
    z-index: 2;
    aspect-ratio: 43 / 23;
    object-fit: contain;
    transform: translateY(33%);
  }


}

/** INFO **/

.info {
  padding: 10.75rem 1rem 1rem;
  background-color: $off-white;
  color: $purple;

  .card-container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    z-index: 2;
  }

  .number {
    border-radius: 50%;
    border: 1px solid $purple;
    width: fit-content;
    font-size: 1.25rem;
    font-weight: 600;
    font-family: fraunces, serif;
    padding: .5rem 1.15rem;
  }

  .heading-s {
    margin-bottom: 1rem;
  }

  &::after {
    background-color: $off-white;
  }
}

/** APPLY **/

.apply {
  padding: 6.25rem 1rem 1rem;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .col-2 {
    background-color: $purple;
    color: $white;
    text-align: center;
    margin-top: -3rem;
    padding: 2rem;
  }

  .heading-m {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1.5rem;
  }
}